.quick-index {
    display: block;
    margin-top: 2em;
}

.quick-index-item {
    display: inline;
    margin-left: 1em;
}

.quick-index-item-selected {
    background-color: black;
    color: white;
}
